/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*just for organization */
body{
	background-color: LightGray;
}
div{
	border: 1px solid Chocolate;
}
/*---------------------------- */

/* font for heading */
body{
	font-family: 'Roboto', sans-serif; 
}
.Top-navigation .links{
	float: right;
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
	margin-top: 25px;
	-webkit-font-smoothing: antialiased;
}

/* unvisited link */
a:link {
    color: gray;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: gray;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}
/* selected link */
a:active {
    color: #a9a9a9;
    text-decoration: none;
}
/*navigation section */
.top-navigation{
	background-color:#fff;
	position:fixed;
	width: 100%;
	z-index: 9999;
	opacity: 1;
	filter: alpha(opacity=40);
}
.top-navigation > .content{
	width: 811px;
	height: 70px;
	margin: 0 auto;
}
.logo{
	height: 70px;
	float: left;
}
.links{
	float: right;
	margin-top: 25px;
	margin-left: 10px;
}
.links  li{
	display: inline-block;
	margin-left: 25px;
}
.content{
	padding: 0px 15px;
	width: 811px;
	margin: 0 auto;
	text-align: center;
}
.top-navigation .links .active{
	color: gray;
	font-weight: 600;
}
.top-navigation .links li:hover{
	cursor: pointer;
	color: #333333;
}
.introduction {
	background-image: url("../img/first-background.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover ;
	height: 45.938rem;
	overflow: auto;
}
.introduction h1, h3{
	text-align: center;
	font-size: 2rem;
	font-family: 'Roboto', sans-serif; 
	font-weight: 300;
}
.introduction h1{
	margin-top: 17.5rem;
	font-size: 3.125rem;
	color:white;
}
.introduction h3{
	margin-top: 1.25rem;
	font-size: 1.563rem;
	color:white;
}
.big-button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
	background-color: #f15a29;
	font-size: 1rem;
	color: white;
	width: 9.688rem;
	margin-top: 2rem;
}
.big-button:hover { 
    background-color: #d9400e;
	border-color: #cf3d0e;
	cursor: pointer;
}
/* midsection - cases */

.cases .devices {
	width: 200%;
	display: inline-block;
	/* for debugging?*/	
	display: flex;
	flex-direction: row;
}
.content{
	color: black;
	text-align: center;
}
.content h2{
	margin-top: 100px;
	font-size: 2.5rem;
	font-weight: 100;
}
.content h3{
	font-size: 1.5rem;
}
.devices {
	display: inline-block;
	text-align: center;
	margin: 50px;
}
.devices img{
	margin-bottom: 2rem;
}